/Configuration
.DS_Store
.idea
node_modules

/vendor
/web/build
/web/fileadmin
/web/index.php
/web/typo3
/web/typo3temp
/web/uploads
/web/typo3conf/deprecation_*
/web/typo3conf/PackageStates.php
/web/typo3conf/ext/*
!/web/typo3conf/ext/base_news
!/web/typo3conf/ext/base_powermail
!/web/typo3conf/ext/tmpl_foundation
