{namespace vh=In2code\Powermail\ViewHelpers}

<div class="powermail_fieldwrap_{field.marker} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    <div class="{settings.styles.framework.fieldWrappingClasses}">
        <label><vh:string.escapeLabels>{field.title}</vh:string.escapeLabels> <f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
            <f:for each="{field.modifiedSettings}" as="setting" iteration="index">
                <div class="{settings.styles.framework.checkClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}">
                    <f:form.checkbox
                            property="{field.marker}."
                            value="{setting.value}"
                            checked="{vh:Misc.PrefillMultiField(field:field, mail:mail, cycle:index.cycle)}"
                            id="field{field.uid}_{index.cycle}"
                            additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field, iteration:index)}"
                            class="powermail_checkbox powermail_checkbox_{field.uid}" />
                    <label for="field{field.uid}_{index.cycle}">
                        <vh:string.escapeLabels>{setting.label}</vh:string.escapeLabels>
                    </label>
                </div>
            </f:for>
            <f:if condition="{field.mandatory}">
                <f:then>
                    <small class="error">
                        <f:translate key="validationerror_mandatory" />
                    </small>
                </f:then>
            </f:if>
        </label>
    </div>
</div>
