{namespace vh=In2code\Powermail\ViewHelpers}

<div class="powermail_fieldwrap_{field.marker} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    <div class="{settings.styles.framework.fieldWrappingClasses}">
        <label><vh:string.escapeLabels>{field.title}</vh:string.escapeLabels> <f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
            <vh:Form.SelectField
                    options="{field.modifiedSettings}"
                    property="field{field.uid}"
                    class="{settings.styles.framework.fieldClasses}"
                    id="field{field.uid}"
                    additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
                    multiple="{field.multiselectForField}"
                    value="{vh:Misc.PrefillField(field:field, mail:mail)}" />
        </label>
        <f:if condition="{field.mandatory}">
            <f:then>
                <small class="error">
                    <f:translate key="validationerror_mandatory" />
                </small>
            </f:then>
        </f:if>
    </div>
</div>
