{namespace vh=In2code\Powermail\ViewHelpers}

<div class="{settings.styles.framework.fieldAndLabelWrappingClasses}">
    <div class="{settings.styles.framework.fieldWrappingClasses}">
        <label><vh:string.escapeLabels>{field.title}</vh:string.escapeLabels> <f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
            <vh:Form.SelectField
                    options="{field.modifiedSettings}"
                    property="field{field.uid}"
                    class="{settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
                    id="field{field.uid}"
                    additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
                    multiple="{field.multiselectForField}"
                    value="{vh:Misc.PrefillField(field:field, mail:mail)}" />

            <f:if condition="{field.multiselect}">
                <f:if condition="{settings.validation.client}">
                    <div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
                </f:if>
            </f:if>
        </label>
    </div>
</div>
