{namespace vh=In2code\Powermail\ViewHelpers}

<div class="powermail_fieldwrap_{field.marker} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    <label><vh:string.escapeLabels>{field.title}</vh:string.escapeLabels> <f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
        <f:form.textarea
                cols="20"
                rows="5"
                id="field{field.uid}"
                property="field{field.uid}"
                placeholder="{field.placeholder}"
                value="{vh:Misc.PrefillField(field:field, mail:mail)}"
                additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
                class="powermail_textarea {settings.styles.framework.fieldClasses}" />
    </label>
    <f:if condition="{field.mandatory}">
        <f:then>
            <small class="error">
                <f:translate key="validationerror_mandatory" />
            </small>
        </f:then>
    </f:if>
</div>
