{namespace vh=In2code\Powermail\ViewHelpers}

<div class="row">
	<div class="small-18 columns">
		<vh:Form.SelectField
				options="{field.modifiedSettings}"
				optionValueField="value"
				property="{field.marker}"
				class="powermail_field powermail_select {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				id="powermail_field_{field.marker}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
				multiple="{field.multiselectForField}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}" />
	</div>
</div>